@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-niln1y');
	src:url('fonts/icomoon.eot?#iefix-niln1y') format('embedded-opentype'),
		url('fonts/icomoon.woff?-niln1y') format('woff'),
		url('fonts/icomoon.ttf?-niln1y') format('truetype'),
		url('fonts/icomoon.svg?-niln1y#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-asunto:before {
	content: "\e922";
}

.icon-correo:before {
	content: "\e945";
}

.icon-mensaje:before {
	content: "\e970";
}

.icon-nombre:before {
	content: "\e971";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-github:before {
	content: "\eab1";
}

/*General*/
body{
	font-family: 'Open Sans';
	background-color: #2b2b2b;
	color: white;
	padding: 0;
}
a{
	text-decoration: none;
	color: #8d29d4;
}
a:hover{
	/*color: #2ad6ad;*/
}

/*Utilidades*/
.u-title{
	color: #8d29d4;
	border-bottom: 1px solid #8d29d4; 
	font-family: 'Exo';
	font-size: 1.2em;
	font-weight: 900;
	padding-bottom: .75em;
	text-align: center;
}
.wrapper{
	max-width: 1000px;
	margin: auto;
}
.wrapper-menu{
	max-width: 1000px;
	margin: auto;
}







/*@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #fff; 
  text-align: center;
  position: absolute;
  content: "\2261"; 
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; 
}*/

/*Menú de Navegación*/
.Mainmenu{
	/*background: #1d2123;*/
	text-align: center;
	height: 3.75em;
	font-weight: bold;
	position: fixed;
	left: 0;
	right: 0;	
	top: 0;
	
}
.Mainmenu-list{
	margin: 0;
	padding: 0;
}
.Mainmenu-item{
	display: inline-block;

}
.Mainmenu-itemLink {
	width: 80px;
	color: white;
	text-decoration: none;
	line-height: 3.75em;
	margin-right: 0.1em;
		
		
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-osx-font-smoothing: grayscale;
		overflow: hidden;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-property: color, background-color;
		transition-property: color, background-color;
	}
.Mainmenu-itemLink:hover, .Mainmenu-itemLink:focus, .Mainmenu-itemLink:active {
    background-color: #2ad6ad;
    color: white;
}

/*Cabecera*/
.Header{
	/*margin-top: 3.75em;*/
	background-image: url('../images/portada3.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
	text-align: center;
	padding: 0 0;
}
.Header-imageContainer{
	margin: 0;
	/*margin-top: 0.5em;*/
}
.Header-image{
	margin-top: 3em;
	border-radius: 50%;
	border: 3px solid #2ad6ad;/*rgba(255, 255, 255, .4)*/ 
    -webkit-background-clip: padding-box; /* Para Safari */
    background-clip: padding-box; /* Para IE9+, Firefox 4+, Opera, Chrome */
}
.Header-name, .Header-link{
	color: white;
	text-shadow: rgba(0,0,0,0.6) 2px 2px 5px;
}
.Header-link{
	font-family: 'Exo';
	font-weight: 900;
	font-size: 2.2em;
	font-weight: bold;
	text-decoration: none;
}
.Header-link:hover{
	color: #2ad6ad;
}
.Header-name{
	font-size: 1.7em;
	font-weight: 300;
	margin: 0;
	padding-bottom: 1.5em;
}

/*Perfil*/
.Profile{
	text-align: center;
}
.Profile-description-redes{
	margin-bottom: 2em;
}
.Profile-link-twitter{
	display: inline-block;
	background: #4099FF;
	color: white;
	text-decoration: none;
	padding: .5em 1em; 
	border-radius: 3px;
	margin-right: .5em;
	text-shadow: rgba(0,0,0,0.6) 2px 2px 5px;
}
.Profile-link-fb{
	display: inline-block;
	background: #3B5998;
	color: white;
	text-decoration: none;
	padding: .5em 1em; 
	border-radius: 3px;
	margin-right: .5em;
	text-shadow: rgba(0,0,0,0.6) 2px 2px 5px;
}
.Profile-link-gh{
	display: inline-block;
	margin-top: 1em;
	background: #000000;
	color: white;
	text-decoration: none;
	padding: .5em 1em; 
	border-radius: 3px;
	margin-right: .5em;
	text-shadow: rgba(0,0,0,0.6) 2px 2px 5px;
}
.Profile-link-twitter:hover{
	background: #66adff;
}
.Profile-link-fb:hover{
	background: #627aac;
}
.Profile-link-gh:hover{
	background: #639bef;
}
.Profile-link-twitter:hover, .Profile-link-fb:hover, .Profile-link-gh:hover{
	color: white;
}

/*Trabajo*/
.Work{
	margin-top: 2em;
	text-align: center;
}
.Work-item{
	display: inline-block;
	margin-right: 1.8em;
	margin-bottom: 1.8em;
}
.Work-imageContainer{
	margin: 0;
}
.Work-description{
	font-size: 1.1em;
	color: #515151;
	font-style: italic;
	margin-bottom: 0.5em;
}

/*Pie de pagína*/
.Footer{
	background: #404040;
	padding-bottom: 1.5em;
	text-align: center;
		
}
.Footer-left{
	display: inline-block;
	max-width: 31.25em;
	text-align: center;
	vertical-align: middle;
	padding-left: 1em;
	padding-right: 1em;
}
.Footer-right{
	display: inline-block;
	max-width: 31.25em;
	text-align: center;
	vertical-align: middle;
	margin-top: 1.5em;
	padding-left: 1em;
	padding-right: 1em;
}
.Footer-form{
	text-align: center;
	display: inline-block;
}
.Footer-title, .Footer-description{
	color: white;
}
.Footer-descriptionWarn{
	color: red;
}
.Footer-formInput,.Footer-textArea{
	margin:0 0 1em;
    overflow:hidden;
    padding: 0.8em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color:#555555;
    border:1px solid #2ad6ad;
    display: inline-block;
    font-size: 0.8em;
	width: 300px;
}
.Footer-textArea{
	width: 300px;
	height: 150px;
}
.Footer-button{
	background: #404040;
	border: 1px solid #2ad6ad;
	color: #fff;
	padding: 0.5em 2em;
	border-radius: 3px;
	outline:none;

	/* Efecto Fade */
		  vertical-align: middle;
		  -webkit-transform: translateZ(0);
		  transform: translateZ(0);
		  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
		  -moz-osx-font-smoothing: grayscale;
		  overflow: hidden;
		  -webkit-transition-duration: 0.3s;
		  transition-duration: 0.3s;
		  -webkit-transition-property: color, background-color;
		  transition-property: color, background-color;
}
.Footer-button:hover{
	background: #2ad6ad;
	color: #000;
}
.Footer-poweredby{
	background: #1d2123;
	text-align: center;
	display: block;
	color: white;
	height: 2.5em;
}
.Footer-poweredbyRight{
	display: inline-block;
	font-size: 0.8em;
}


