/*body {background:#FEFEFE;}*/
 
.menu_bar {
	display:none;
}
 
header {
	width: 100%;
}
 
header nav {
	/*background:#023859;*/
	z-index:1000;
	/*max-width: 1000px;*/
	/*width:95%;*/
	/*margin:20px auto;*/
}
 
header nav ul {
	list-style:none;
}
 
header nav ul li {
	display: inline-block;
	position: relative;
}
 
header nav ul li:hover {
	background: #2ad6ad;
}
 
header nav ul li a {
	/*color:#fff;*/
	display:block;
	text-decoration:none;
	/*padding: 20px;*/
}
 
/*header nav ul li a span {
	margin-right:10px;
}*/
 
/*header nav ul li:hover .children {
	display:block;
}
 
header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}
 
header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .children li a {
	display: block;
}
 
header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}*/
 
@media screen and (max-width: 800px) {
	body {
		padding-top: 3.75em;
	}
	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#1d2123;
	}
	.bt-menu{
		text-align: left;
	}
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 1.5625em;
		text-decoration: none;
	}
 	.Mainmenu-item{
		display: block;
	}
	.Mainmenu-itemLink{
		width: 100%;
	}
	.Mainmenu-itemLink:hover, .Mainmenu-itemLink:focus, .Mainmenu-itemLink:active {
    	color: white;
	}
	.menu_bar span {
		float: right;
		font-size: 1em;
	}
	header nav {
		width: 80%;
		height: 100%; /*calc(100% - 80px)*/
		position: fixed;
		right:100%;
		margin: 0;
		overflow: auto; /*si hay un excedente de 
		categorias <auto> dará barras de desplazamiento*/
		background:#1d2123;
	} 
	header nav ul li {
		display: block;
		border-bottom:1px solid #8d29d4;
	}
	header nav ul li a {
		display: block;
	}
 
}

@media screen and (min-width: 800px) {
	.Header{
		margin-top: 3.75em;
	}	
	.Mainmenu-list{
		background: #1d2123;
		text-align: center;
		height: 3.75em;
		font-weight: bold;
		position: fixed;
		left: 0;
		right: 0;	
		top: 0;
		margin: 0;
		padding: 0;
	}
	.Mainmenu-itemLink{
		width: 80px;
	}
	.Mainmenu-itemLink:hover, .Mainmenu-itemLink:focus, .Mainmenu-itemLink:active {
	    background-color: #2ad6ad;
	    color: white;
	}

}